@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

h1,
p {
    font-family: 'ABeeZee', sans-serif;
    color: #383835ff;
}

// colors
$bg-color: #{'rgb(253, 251, 251)'};

$primary-01: #00930aff;
$primary-02: #227a1eff;
$light-01: #fefcfcfb;
$light-02: #fbffcbff;
$dark-01: #070707ff;
$dark-02: #383835ff;

$hero-height: 550px;

// mixings and placeholders
%block-center {
    display: block;
    margin: 0 auto;
}

%flex-vcenter-layout {
    display: flex;
    align-items: center;
}

%reset-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

%reset-styles {
    text-decoration: none;
    color: $light-01;
}

@mixin bsize($width, $height) {
    width: $width;
    height: $height;
}

// Base rules
:root {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 10px;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: $bg-color;
    padding-top: 6rem;
}

// componentes

.button {
    box-sizing: border-box;
    min-width: 15rem;
    display: inline-block;
    border: none;
    border-radius: 2rem;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: $primary-01;
    color: #ffffff;
    font-size: 2.5rem;
    cursor: pointer;
    text-align: center;
    transition: background .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:hover {
        background-color: $dark-02;
    }

    &:active {
        background-color: $dark-01;
    }


    &--outline {
        background-color: lighten($dark-02, 60%);
        color: $dark-01;

        &:hover {
            color: $light-01;
            background-color: $dark-02;
        }
    }
}


// Nav
$nav-max-width: 980px;

.header {
    position: fixed;
    width: 100%;
    background-color: $primary-01;
    top: 0px;
    color: $light-01;

    &__title {
        text-align: center;
        font-size: 1.9rem;
        padding: 0 1em;
        color: $light-01;
        text-transform: uppercase;
        background-color: $primary-02;
        cursor: cell;
    }

    &__content {
        max-width: $nav-max-width;
        margin: auto;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__item {
        @extend %reset-list;
        display: block;

        & a {
            display: inline-block;
            padding: 0.5em;
            text-align: center;
            font-size: 1.75rem;
            font-weight: bold;
            transition: color 0.15s;

        }

        & a:hover {
            color: $dark-02;
            border-block-end: 1em $dark-02;
        }
    }


    & a:visited,
    & a:link,
    & a:hover {
        @extend %reset-styles;
    }

}

// hero

.hero {
    width: 100%;

    &__content {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: $nav-max-width;
        height: $hero-height;
    }

    &__profile {
        @extend %flex-vcenter-layout;
        flex-direction: column;
        padding: 5rem;
        justify-items: center;
    }

    &__title {
        font-size: 3.75rem;
        letter-spacing: 0.25rem;
        padding: 1rem 0px;
    }

    &__paragraph {
        font-size: 2rem;
        letter-spacing: 0.25rem;
        line-height: 1.6;
        padding: 1.5rem 0px;
        text-align: justify;
        text-justify: inter-word;
    }

    &__photo {
        @extend %flex-vcenter-layout;
        justify-content: center;

        & img {
            max-height: 370px;
            width: auto;
            border-radius: 50%;

        }
    }

    &__buttons {
        @extend %flex-vcenter-layout;
        justify-content: space-between;
        margin-top: 3em;
    }
}

.light1 {
    background-color: $light-02;
    color: $primary-01;
}

.light2 {
    background-color: $light-02;
    color: $dark-01
}

.dark2 {
    background-color: $dark-02;
    color: $light-01
}

.olist {
    @extend %flex-vcenter-layout;
    flex-direction: column;

    &__title {
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }

    &__list {
        font-size: 2.5rem;
        line-height: 1.5;
        list-style-type: none;

        & li {
            transition: background-color 0.25s;
            text-align: center;
            font-size: 2.75rem
        }

        & li:hover {
            background-color: $light-02;
            color: $dark-02;
            text-transform: uppercase;
            font-weight: bold;
            cursor: pointer;
        }
    }

}

.ulist {
    @extend %flex-vcenter-layout;
    flex-direction: column;

    &__title {
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }

    &__list {
        font-size: 2.5rem;
        line-height: 1.5;
        list-style-type: none;

        & li {
            transition: background-color 0.25s;
            text-align: center;
            font-size: 2.75rem
        }

        & li:hover {
            background-color: $primary-01;
            color: $light-02;
            text-transform: uppercase;
            font-weight: bold;
            cursor: pointer;
        }
    }

}

#rodape {
    background-color: $primary-01;
    padding-bottom: 2rem;

    section {
        display: block;
        max-width: $nav-max-width;
        margin: auto;

        & .links {
            display: flex;
            justify-content: space-evenly;
            padding: 4rem;

            & a {
                @extend %flex-vcenter-layout;
                gap: 2rem;
                background-color: unset;
                align-items: center;
                text-decoration: none;
                padding: 2rem;

                & p {
                    background-color: transparent;
                    font-style: normal;
                    font-weight: bold;
                }

                &:hover {
                    background-color: $light-02;
                    color: $dark-01;
                    border-radius: 1rem;

                    & p {
                        color: $dark-01;
                    }

                }
            }
        }

        & p {
            text-align: center;
            font-size: 2rem;
            color: $light-02;
            font-style: italic;
        }
    }

    & img {
        width: 8rem;
    }
}


.herot {
    width: 100%;
    background-color: $dark-02;
    color: $light-01;

    &__content {
        margin: auto;
        display: flex;
        justify-content: center;
        max-width: $nav-max-width;
        height: $hero-height;
    }

    &__profile {
        @extend %flex-vcenter-layout;
        flex-direction: column;
        padding: 5rem;
        justify-items: center;
    }

    &__title {
        font-size: 3.75rem;
        letter-spacing: 0.25rem;
        padding: 1rem 0px;
    }

    &__paragraph {
        color: inherit;
        font-size: 2rem;
        letter-spacing: 0.25rem;
        line-height: 1.6;
        padding: 1.5rem 0px;
        text-align: justify;
        text-justify: inter-word;
    }
}