:root {

  --header-heigth     : 50px;

  --tools-width       : 300px;

  --collor-pallet-side: 25px;

  --time-animations   : 0.25s;

  --h3-size           : 1.1rem;
}

html , body {
  margin     : 0;
  height     : 100%;
  font-family: sans-serif;
}

.main-container {
  display: grid;
  grid-template: 'header header header header' var(--header-heigth)
    'tools tools tools tools'
    'paper paper paper paper'
    'paper paper paper paper'
    'paper paper paper paper' / var(--tools-width) auto;
  height: 100%;
}

/* Header Component */
.header {
  grid-area       : header;
  background-color: lightgrey;
  display         : flex;
  justify-content : center;
  align-items     : center;
}

.header > #title {
  display       : inline-block;
  color         : darkmagenta;
  font-weight   : 800;
  font-size: 1.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  word-spacing  : 1rem;
  margin: 0;
}

/* Tools Component */
.tools {
  grid-area       : tools;
  background-color: lightgray;
  padding         : 1em 1.5em;
}

.tools__item > div {
  margin-bottom: 2rem;
}

/* Paper Component */
.paper {
  grid-area       : paper;
  background-color: thistle;
  display         : flex;
  flex-flow       : nowrap column;
  justify-content : center;
  align-items     : center;
}


/* Color Palette */
#color-palette {
  display  : flex;
  flex-wrap: wrap;
}

.color {
  width     : var(--collor-pallet-side);
  height    : var(--collor-pallet-side);
  border    : 1px solid black;
  box-sizing: border-box;
  display   : inline;
  transition: transform var(--time-animations);
}

.color2 {
  width     : var(--collor-pallet-side);
  height    : var(--collor-pallet-side);
  border    : 1px solid black;
  box-sizing: border-box;
  display   : inline;
  transition: transform var(--time-animations);
}

.color:hover {
  cursor   : pointer;
  transform: scale(1.25) rotateX(180deg);

}

.selected {
  transition: border var(--time-animations), transform var(--time-animations);
  outline: 3px solid red;
  z-index: 10;

  /* border    : 3px dotted red; */
}

/* Palette Component */
.palette__title {
  text-align    : center;
  font-size     : var(--h3-size);
  font-weight   : 800;
  text-transform: uppercase;
  margin-bottom : 0.5rem;
}

.palette__selected {
  display    : flex;
  align-items: center;
  font-size  : 1.2rem;
  gap        : 1rem;
}

/* Reset Component */
.reset__title {
  font-size     : var(--h3-size);
  font-weight   : 800;
  margin-bottom : 0.5rem;
  text-transform: uppercase;
}

.reset__button {
  border                 : none;
  margin                 : auto;
  padding                : 0;
  display                : block;
  width                  : 100%;
  height                 : 40px;
  border-radius          : 20px;

  /* https                ://gist.github.com/MoOx/9137295 */
  overflow               : visible;
  background             : darkmagenta;
  color                  : white;
  font                   : inherit;
  line-height            : normal;
  -webkit-font-smoothing : inherit;
  -moz-osx-font-smoothing: inherit;
}

#clear-board , .reset__button {
  transition    : box-shadow var(--time-animations);
  font-weight   : 800;
  letter-spacing: 0.25rem;
}

#clear-board:hover , .reset__button:hover {
  box-shadow      : 0 2px 5px 2px rgba(0, 0, 0, 0.4);
  cursor          : pointer;
  background-color: rgb(112, 0, 112);
}

#clear-board:active , .reset__button:hover {
  background-color: rgb(88, 0, 88);
}

.reset__button:focus:not( :focus-visible ) {
  outline: none;
}

.reset__button:focus:not( :-moz-focusring ) {
  outline: none;
}

.size__interaction {
  display: flex;
  flex: 1fr 2fr;
}

.size__title {
  font-size     : var(--h3-size);
  font-weight   : 800;
  margin-bottom : 0.5rem;
  text-transform: uppercase;
}

#board-size {
  margin-right: 1rem;
  display: inline;
}

#generate-board {
  border                 : none;
  margin                 : auto;
  padding                : 0;
  display                : inline;
  width                  : 100%;
  height                 : 40px;
  border-radius          : 20px;

  /* https                ://gist.github.com/MoOx/9137295 */
  overflow               : visible;
  background             : darkmagenta;
  color                  : white;
  font                   : inherit;
  line-height            : normal;
  -webkit-font-smoothing : inherit;
  -moz-osx-font-smoothing: inherit;
  transition    : box-shadow var(--time-animations);
  font-weight   : 800;
  letter-spacing: 0.25rem;
}

#generate-board:hover {
  box-shadow      : 0 2px 5px 2px rgba(0, 0, 0, 0.4);
  cursor          : pointer;
  background-color: rgb(112, 0, 112);
}

#generate-board:active {
  background-color: rgb(88, 0, 88);
}

#generate-board:focus:not( :focus-visible ) {
  outline: none;
}

#generate-board:focus:not( :-moz-focusring ) {
  outline: none;
}


/* Board Component */
#pixel-board {
  display        : flex;
  flex-flow      : nowrap column;
  justify-content: center;
  align-items    : center;
  box-shadow     : 0 0 15px 5px rgba(0, 0, 0, 0.5);
}

.board {
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.board__row {
  display: flex;
}

.pixel {
  box-sizing      : border-box;
  width           : 40px;
  height          : 40px;
  background-color: white;
  border          : 1px solid black;
  transition      : background-color var(--time-animations);
}

