:root {

  --m-width: 1100px;

  --primary-color: rgb(66, 103, 178);
}

body , html {
  margin: 0;
}

.header {
  background-color: var(--primary-color);
}

.top-bar {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
}

.header__content {
  height: 82px;
}

.facebook-login {
  display: flex;
  color: white;
}

.form-group {
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
}

.form-control {
  align-self: flex-end;
}

/* MAIN */
.main {
  width: 100%;
  background: linear-gradient(white, hsl(226, 31%, 87%));
}

.main-content , .main__content {
  display: flex;
  height: 629px;
  justify-content: space-between;
}

.center-block {
  max-width: var(--m-width);
  margin: 0 auto;
}

.left-content {
  width: 800px;
}

input {
  border-radius: 5px;
}

.right-content {
  width: 300px;
}

.user-name-inputs > input {
  width: 50%;
  box-sizing: border-box;
}

.user-name-inputs {
  display: flex;
}

.width_input {
  width: 100%;
  box-sizing: border-box;
}

.right-content > form > * {
  margin-top: 1rem;
}

/* BIRTHDAY INPUT */

/* .birth-sign {} */

/* GENDER INPUT */

/* .gender {
} */

.gender__radios {
  display: flex;
  justify-content: space-evenly;
}

.gender__radio {
  display: flex;
  flex-flow: nowrap column-reverse;
  align-items: center;
}

.error > p {
  text-align: center;
  color: hsl(0, 50%, 50%);
  font-weight: 600;
  margin: 0.5em 0;
}

.error {
  box-sizing: border-box;
  border: 2px solid hsl(0, 50%, 60%);
  background-color: hsl(0, 50%, 85%);
  transform : scale(0) rotate(0deg);
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 150ms;
}


.open {
  transform: scale(1);
}

#gender-custom , #birthdate {
  box-sizing: border-box;
  display: block;
  width: 100%;
}
