:root {

  --m-width: 980px;

  --primary-color: rgb(66, 103, 178);
}

body , html {
  margin: 0;
}

.header {
  background-color: var(--primary-color);
}

.top-bar {
  background-color: var(--primary-color);
  margin: auto;
  max-width: var(--m-width);
  display: flex;
  justify-content: space-between;
}

.header__content {
  height: 75px;
}

.facebook-login {
  display: flex;
  color: white;
}

.form-group {
  display: flex;
  flex-flow: nowrap column;
}
