.login-form {
  border: 1px solid hsl(120, 31%, 40%);
  border-radius: 1rem;
  display: flex;
  flex-flow: nowrap column;
  margin: 10px auto;
  overflow: hidden;
  padding: 1.5rem;
  width: 250px;
}

.login-form-img {
  border-radius: 5px;
  height: 200px;
  margin-bottom: 0.25rem;
  width: 100%;
}

.login-form-input , .login-form-submit {
  border-radius: 5px;
  padding: 0.6rem;
}

.login-form-input {
  background-color: hsl(120, 50%, 98%);
  border: 1px solid rgb(190, 190, 190);
  font-size: 1rem;
  margin-top: 0.25rem;
}

.login-form-input:--webkit-autofill {
  background-color: red;
}

.login-form-input:focus {
  outline: 2px solid rgb(136, 191, 255);
}

.login-form-submit {
  background-color: hsl(120, 31%, 50%);
  border: unset;
  color: white;
  font-size: 1rem;
  font-weight: 800;
  margin-top: 0.5rem;
}

.login-form-submit:hover {
  background-color: hsl(120, 31%, 40%);
  cursor: pointer;
}

.login-form-submit:active {
  background-color: hsl(120, 31%, 35%);
}
