.hero {
  align-items    : center;
  display        : flex;
  font-size      : 2rem;
  height         : 100%;
  justify-content: center;
  width          : 100%;
}

.hero-body {
  align-items: center;
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
}
