body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  height: 100%;
}

.rotas {
  display: flex;
  justify-content: space-evenly;
}

.rotas > * {
  border: 1px solid black;
  flex: 1;
}

.categories-bar-enter {
  transform: translateY(-200%);
}

.categories-bar-enter-active {
  transform: translateY(0%);
  transition: transform 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.categories-bar-exit {
  transform: translateY(0%);
}

.categories-bar-exit-active {
  transform: translateY(-200%);
  transition: transform 200ms cubic-bezier(0.75, 0.82, 0.165, 1);
}