.wallet-exps {
  align-items: center;
  background-color: hsl(0, 0%, 25%);
  display: flex;
  padding-block: 1rem;
}

.wallet-exps-content select , .wallet-exps-content input {
  box-sizing: border-box;
  height: 40px;
}

.wallet-exps-content {
  align-items: center;
  display: flex;
  flex: 1;
  flex-flow: wrap row;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 1200px;
}

.wallet-exps-label {
  color: white;
  margin-right: 0.25rem;
}

.value-input {
  width: 75px;
}

.edit-btn-submit {
  background-color: hsl(39, 78%, 57%);
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  height: 40px;
}

.edit-btn-submit:hover {
  background-color: hsl(120, 50%, 35%);
  cursor: pointer;
}

.edit-btn-submit:active {
  background-color: hsl(120, 50%, 45%);
}


[ type = 'text' ]:focus {
  outline: 2px solid rgb(136, 191, 255);
}

[ type = 'number' ]:focus {
  outline: 2px solid rgb(136, 191, 255);
}

select:focus , .submit-form-btn:focus {
  outline: 2px solid rgb(136, 191, 255);
}
